@use "vars.scss" as *;

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(imgs/drink-fancy.jpg);
  background-image: image-set(
    url("../srcset-imgs/drink-fancy400w.jpg") 1x,
    url("../srcset-imgs/drink-fancy500w.jpg") 2x,
    url("../srcset-imgs/drink-fancy640w.jpg") 3x
  );
  color: $white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 9000;
  width: 90%;
  height: 55%;
  padding: 1.5rem 1rem 1rem 1rem;
  min-height: 400px;
  max-height: 600px;
  max-width: 600px;
}

.popup-btn {
  font-size: 40px;
  color: $white;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 40px;
  border: 0;
}

.popup-btn:hover,
.poopup-btn:focus {
  background: transparent;
  color: $white;
}

.popup-wrapper.ongoing {
  display: block;
}

.popup.ongoing {
  display: flex;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1, 1, 100%;
  width: 100%;
}

.modal-intro {
  text-align: center;
  font-family: "arial narrow", sans-serif;
  line-height: 1.5;
  word-spacing: 2px;
  letter-spacing: 2px;
  text-shadow: 3px 3px 5px $black;
  margin: 0 auto;
}

.modal-title {
  text-align: center;
}

.fancy-txt {
  font-family:
    Snell Roundhand,
    cursive;
  font-size: 40px;
  text-shadow: 3px 3px 5px $black;
}

.modal-logo {
  font-family: impact;
  font-size: 35px;
  letter-spacing: 3px;
  text-shadow: 3px 3px 5px $black;
}

.modal-footer {
  font-family: "arial narrow", sans-serif;
  font-size: 15px;
  text-align: right;
  letter-spacing: 1px;
  align-self: flex-end;
}
