@use "vars.scss" as *;

.slideshow-container {
  height: 87vh;
  overflow: hidden;
  z-index: 1;
}

.slideshow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.slide {
  min-width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
}

.slide-img {
  object-fit: cover;
  object-position: center;
  min-width: 100%;
  height: 87vh;
}

.slide.active {
  opacity: 1;
}

.slide-btn {
  position: absolute;
  background: transparent;
  border: 0;
  padding: 0;
  width: 2.5rem;
}

.slide-btn:hover,
.slide-btn:focus {
  background: transparent;
}

.prev-btn {
  top: 45%;
  left: 3%;
}

.next-btn {
  top: 45%;
  right: 3%;
}

.pause-play-btn {
  right: 50%;
  left: 50%;
  bottom: 12%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.slide-icon {
  filter: drop-shadow(5px 2px 10px rgba(0, 0, 0, 0.95));
}

.pause-icon {
  display: inline;
}

.play-icon {
  display: none;
}

.pause-icon.state {
  display: none;
}

.play-icon.state {
  display: inline;
}

@media (min-width: 700px) {
  .slideshow-container {
    height: 100vh;
  }
  .slide-img {
    height: 100%;
  }
  .pause-play-btn {
    bottom: 1%;
  }
}

.active .slideshow {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: center center;
}

.animate-in.zoom-in {
  animation: scaleUp 1s cubic-bezier(0.61, 1, 0.88, 1) 0s 1 normal forwards;
}

.animate-in.zoom-out {
  animation: scaleDown 1s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
